@inherits LayoutComponentBase

<div class="app-shell">
    <NavMenu />
    <main class="main-content">
        <header class="topbar simple-topbar colorful-topbar">
            <div>
                <h1>Student Dashboard</h1>
            </div>
        </header>
        <section class="page-container">
            @Body
        </section>
    </main>
</div>
