@page "/"
@namespace StudentDashboard.Web.Pages
@using Microsoft.AspNetCore.Components.Web
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <component type="typeof(HeadOutlet)" render-mode="Server" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <title>Student Dashboard</title>
</head>
<body>
    <component type="typeof(StudentDashboard.Web.Components.App)" render-mode="Server" />
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
